In [1]:
import pandas as pd
import glob
import os

In [2]:
path = r"C:\Users\ZAINAB KHAN\Desktop\PLFS Project\Cleaned_Data_female"
# Get all CSV files from that folder
all_files = glob.glob(os.path.join(path, "*.csv"))

# Check file list (optional)
print("Files found:", all_files)

Files found: ['C:\\Users\\ZAINAB KHAN\\Desktop\\PLFS Project\\Cleaned_Data_female\\PLFS_2017_18_females_15to59_ready.csv', 'C:\\Users\\ZAINAB KHAN\\Desktop\\PLFS Project\\Cleaned_Data_female\\PLFS_2018_19_females_15to59_ready.csv', 'C:\\Users\\ZAINAB KHAN\\Desktop\\PLFS Project\\Cleaned_Data_female\\PLFS_2019_20_females_15to59_ready.csv', 'C:\\Users\\ZAINAB KHAN\\Desktop\\PLFS Project\\Cleaned_Data_female\\PLFS_2020_21_females_15to59_ready.csv', 'C:\\Users\\ZAINAB KHAN\\Desktop\\PLFS Project\\Cleaned_Data_female\\PLFS_2021_22_females_15to59_ready.csv', 'C:\\Users\\ZAINAB KHAN\\Desktop\\PLFS Project\\Cleaned_Data_female\\PLFS_2022_23_females_15to59_ready.csv', 'C:\\Users\\ZAINAB KHAN\\Desktop\\PLFS Project\\Cleaned_Data_female\\PLFS_2023_24_females_15to59_ready.csv']

In [4]:
# Read and concatenate all files
df_all = pd.concat(
    (pd.read_csv(f, low_memory=False) for f in all_files),
    ignore_index=True
)

# Check shape and years included
print(df_all.shape)
print(df_all["Year"].unique())

(1127998, 19)
['2017-18' '2018-19' '2019-20' '2020-21' '2021-22' '2022-23' '2023-24']

In [6]:
print(df_all["State/UT Code"].nunique())  # should be 34
print(df_all["Year"].value_counts().sort_index())  # see how many records per year
print(df_all.head(1))

35
2017-18     91977
2018-19    179195
2019-20    175606
2020-21    172600
2021-22    170722
2022-23    169344
2023-24    168554
Name: Year, dtype: int64
  File Identification Visit  Sector  State/UT Code  District Code  \
0                RVP1    V2       2              1             21

   Sample Household Number  Person Serial No.  Sex  Age  Marital Status  \
0                        1                  2    2   55             2.0

   General Edu Level  Technical Edu Level  Current Weekly Status  \
0                1.0                  1.0                     93

   Industry Code (CWS) Occupation Code (CWS)  \
0                  NaN                   NaN

   Earnings For Reg Salarid/Wage Act  Earnings  Sub-sample wise Multiplier  \
0                                  0         0                      307015

      Year
0  2017-18

In [7]:
save_path = r"C:\Users\ZAINAB KHAN\Desktop\PLFS Project\PLFS_Master_2017_2024.csv"
df_all.to_csv(save_path, index=False)
print("✅ Master dataset saved successfully!")

✅ Master dataset saved successfully!

In [8]:
df_all.groupby("Year")["Age"].describe()

            count       mean        std   min   25%   50%   75%   max
Year
2017-18   91977.0  33.784468  12.129712  15.0  23.0  33.0  43.0  59.0
2018-19  179195.0  33.995056  12.186193  15.0  23.0  33.0  44.0  59.0
2019-20  175606.0  34.056997  12.202183  15.0  24.0  33.0  44.0  59.0
2020-21  172600.0  34.387851  12.246808  15.0  24.0  34.0  45.0  59.0
2021-22  170722.0  34.538618  12.235652  15.0  24.0  34.0  45.0  59.0
2022-23  169344.0  34.565624  12.268904  15.0  24.0  34.0  45.0  59.0
2023-24  168554.0  34.742189  12.286470  15.0  24.0  35.0  45.0  59.0

In [9]:
df_all.groupby(["Year", "State/UT Code"]).size().unstack().fillna(0)

State/UT Code,1,2,3,4,5,6,7,8,9,10,...,27,28,29,30,31,32,33,34,35,36
Year,,,,,,,,,,,,,,,,,,,,,
2017-18,3064.0,592.0,3282.0,574.0,1490.0,2473.0,1662.0,3782.0,7394.0,2860.0,...,8647.0,3304.0,4451.0,423.0,0.0,4730.0,6329.0,854.0,465.0,3011.0
2018-19,6179.0,1126.0,6471.0,1123.0,3009.0,4744.0,2931.0,7426.0,14198.0,5755.0,...,16506.0,6576.0,8761.0,909.0,54.0,9312.0,12220.0,1572.0,855.0,5870.0
2019-20,6059.0,1202.0,6074.0,1013.0,3050.0,4787.0,3134.0,7212.0,14538.0,5602.0,...,15665.0,6573.0,8408.0,942.0,0.0,9131.0,12433.0,1517.0,888.0,5796.0
2020-21,5986.0,1156.0,5781.0,1135.0,2867.0,4815.0,2890.0,7444.0,14141.0,5570.0,...,13698.0,6775.0,8238.0,1027.0,0.0,8833.0,12360.0,1578.0,933.0,5612.0
2021-22,5577.0,1132.0,5045.0,1135.0,2786.0,4534.0,2604.0,7098.0,13572.0,5647.0,...,15050.0,6551.0,8532.0,868.0,0.0,8732.0,11852.0,1483.0,816.0,5635.0
2022-23,5596.0,1141.0,4792.0,1092.0,2760.0,4498.0,2615.0,6914.0,14001.0,5532.0,...,16031.0,6214.0,8299.0,847.0,0.0,8387.0,11532.0,1518.0,847.0,5555.0
2023-24,5356.0,1054.0,5604.0,1027.0,2643.0,4470.0,2492.0,6930.0,13801.0,5534.0,...,15827.0,6195.0,8043.0,882.0,0.0,8177.0,11850.0,1494.0,889.0,5424.0

In [10]:
df_all.head(2)

,File Identification,Visit,Sector,State/UT Code,District Code,Sample Household Number,Person Serial No.,Sex,Age,Marital Status,General Edu Level,Technical Edu Level,Current Weekly Status,Industry Code (CWS),Occupation Code (CWS),Earnings For Reg Salarid/Wage Act,Earnings,Sub-sample wise Multiplier,Year
0,RVP1,V2,2,1,21,1,2,2,55,2.0,1.0,1.0,93,NaN,NaN,0,0,307015,2017-18
1,RVP1,V2,2,1,21,1,4,2,26,1.0,12.0,1.0,31,85.0,331.0,6000,0,307015,2017-18

In [11]:
print(df_all.columns.tolist())

['File Identification', 'Visit', 'Sector', 'State/UT Code', 'District Code', 'Sample Household Number', 'Person Serial No.', 'Sex', 'Age', 'Marital Status', 'General Edu Level', 'Technical Edu Level', 'Current Weekly Status', 'Industry Code (CWS)', 'Occupation Code (CWS)', 'Earnings For Reg Salarid/Wage Act', 'Earnings', 'Sub-sample wise Multiplier', 'Year']

In [13]:
print(df_all["Sex"].unique())
print(df_all["Age"].min(), df_all["Age"].max())
print(df_all.shape)

[2]
15 59
(1127998, 19)

In [14]:
df_all = df_all.drop(columns = [
    "File Identification",
    "Visit",
    "District Code",
    "Sample Household Number",
    "Person Serial No.",
    "Earnings For Reg Salarid/Wage Act",
    "Earnings"
    
])

In [15]:
print(df_all.columns.tolist())

['Sector', 'State/UT Code', 'Sex', 'Age', 'Marital Status', 'General Edu Level', 'Technical Edu Level', 'Current Weekly Status', 'Industry Code (CWS)', 'Occupation Code (CWS)', 'Sub-sample wise Multiplier', 'Year']

In [17]:
df_all.tail()

,Sector,State/UT Code,Sex,Age,Marital Status,General Edu Level,Technical Edu Level,Current Weekly Status,Industry Code (CWS),Occupation Code (CWS),Sub-sample wise Multiplier,Year
1127993,2,24,2,56,2.0,7.0,1.0,92,NaN,NaN,3729746,2023-24
1127994,2,24,2,21,2.0,8.0,1.0,92,NaN,NaN,3729746,2023-24
1127995,2,24,2,25,1.0,13.0,1.0,31,69.0,261.0,3729746,2023-24
1127996,2,24,2,50,2.0,6.0,1.0,92,NaN,NaN,3598878,2023-24
1127997,2,24,2,28,4.0,7.0,1.0,31,86.0,911.0,3598878,2023-24

In [18]:
save_path = r"C:\Users\ZAINAB KHAN\Desktop\PLFS Project\PLFS_Master_2017_2024_crisp.csv"
df_all.to_csv(save_path, index=False)
print("✅ Master dataset saved successfully!")

✅ Master dataset saved successfully!

In [26]:
print(df_all["Year"].unique())

['2017-18' '2018-19' '2019-20' '2020-21' '2021-22' '2022-23' '2023-24']