In [1]:
import pandas as pd

In [2]:
import os
print(os.getcwd())

C:\Users\ZAINAB KHAN\PLFS

In [3]:
!pip install pyreadstat --only-binary :all:

Collecting pyreadstat
  Downloading pyreadstat-1.2.8-cp39-cp39-win_amd64.whl (2.4 MB)
Requirement already satisfied: pandas>=1.2.0 in c:\users\zainab khan\anaconda3\lib\site-packages (from pyreadstat) (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\zainab khan\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\zainab khan\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\zainab khan\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\zainab khan\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.2.0->pyreadstat) (1.16.0)
Installing collected packages: pyreadstat
Successfully installed pyreadstat-1.2.8

In [4]:
import pyreadstat
print("Pyreadstat installed and imported successfully!")

Pyreadstat installed and imported successfully!

In [5]:

file_path = r"C:\Users\ZAINAB KHAN\Desktop\PLFS Project\unfiltered\DDI-IND-CSO-PLFS-2017-18\hh_per_rv_2017-18.dta"

# Load data with metadata
df, meta = pyreadstat.read_dta(file_path)

# See what each column means
for col, label in meta.column_names_to_labels.items():
    print(f"{col} → {label}")

FI_per_rv → File Identification
b1q2_per_rv → Schdule
quarter_per_rv → Quarter
visit_per_rv → Visit
b1q3_per_rv → Sector
state_per_rv → State/Ut Code
district_per_rv → District Code
b1q4_per_rv → NSS-Region
b1q5_per_rv → Stratum
b1q6_per_rv → Sub-Stratum
b1q11_per_rv → Sub-Sample
b1q12_per_rv → Fod Sub-Region
fsu_per_rv → FSU
b1q13_per_rv → Sample Sg/Sb No.
b1q14_per_rv → Second Stage Stratum No.
b1q15_per_rv → Sample Household Number
b4q1_per_rv → Person Serial No.
b4q4_per_rv → Relationship To Head
b4q5_per_rv → Sex
b4q6_per_rv → Age
b4q7_per_rv → Marital Status
b4q8_per_rv → General Educaion Level
b4q9_per_rv → Technical Educaion Level
b4q10_per_rv → No. of years in Formal Education
b4q11_per_rv → Status of Current Attendance in Educational Institution
b6q4_3pt1_Act1_per_rv → Status Code for activity 1
b6q5_3pt1_per_rv → Industry Code (NIC) for activity 1
b6q6_Act1_3pt1_per_rv → hours actuallly worked for activity 1 on 7 th day
b6q9_3pt1_Act1_per_rv → wage earning for activity 1 on 7 th day
b6q4_3pt1_Act2_per_rv → Status Code for activity 2
b6q5_3pt1_Act2_per_rv → Industry Code (NIC) for activity 2
b6q6_3pt1_Act2_per_rv → hours actuallly worked for activity 2 on 7 th day
b6q9_3pt1_Act2_per_rv → wage earning for activity 2 on 7 th day
b6q7_3pt1_per_rv → total hours actually worked on 7th day
b6q8_3pt1_per_rv → hours available for aditional worked on 7th day
b6q4_3pt2_Act1_per_rv → Status Code for activity 1
b6q5_3pt2_Act1_per_rv → Industry Code (NIC) for activity 1
b6q6_3pt2_Act1_per_rv → hours actuallly worked for activity 1 on 6 th day
b6q9_3pt2_Act1_per_rv → wage earning for activity 1 on 7 th day
b6q4_3pt2_Act2_per_rv → Status Code for activity 2
b6q5_3pt2_Act2_per_rv → Industry Code (NIC) for activity 2
b6q6_3pt2_Act2_per_rv → hours actuallly worked for activity 2 on 6 th day
b6q9_3pt2_Act2_per_rv → wage earning for activity 2 on 6 th day
b6q7_3pt2_per_rv → total hours actually worked on 6th day
b6q8_3pt2_per_rv → hours available for aditional worked on 6th day
b6q4_3pt3_Act1_per_rv → Status Code for activity 1
b6q5_3pt3_Act1_per_rv → Industry Code (NIC) for activity 1
b6q6_3pt3_Act1_per_rv → hours actuallly worked for activity 1 on5 th day
b6q9_3pt3_Act1_per_rv → wage earning for activity 1 on 5 th day
b6q4_3pt3_Act2_per_rv → Status Code for activity 2
b6q5_3pt3_Act2_per_rv → Industry Code (NIC) for activity 2
b6q6_3pt3_Act2_per_rv → hours actuallly worked for activity 2 on 5 th day
b6q9_3pt3_Act2_per_rv → wage earning for activity 2 on 5 th day
b6q7_3pt3_per_rv → total hours actually worked on 5th day
b6q8_3pt3_per_rv → hours available for aditional worked on 5th day
b6q4_3pt4_Act1_per_rv → Status Code for activity 1
b6q5_3pt4_Act1_per_rv → Industry Code (NIC) for activity 1
b6q6_3pt4_Act1_per_rv → hours actuallly worked for activity 1 on 4th day
b6q9_3pt4_per_rv → wage earning for activity 1 on 4th day
b6q4_3pt4_Act2_per_rv → Status Code for activity 2
b6q5_3pt4_Act2_per_rv → Industry Code (NIC) for activity 2
b6q6_3pt4_Act2_per_rv → hours actuallly worked for activity 2 on 4th day
b6q9_3pt4_Act2_per_rv → wage earning for activity 2 on 4th day
b6q7_3pt4_per_rv → total hours actually worked on 4th day
b6q8_3pt4_per_rv → hours available for aditional worked on 4th day
b6q4_3pt5_Act1_per_rv → Status Code for activity 1
b6q5_3pt5_Act1_per_rv → Industry Code (NIC) for activity 1
b6q6_3pt5_Act1_per_rv → hours actuallly worked for activity 1 on 3rd day
b6q9_3pt5_Act1_per_rv → wage earning for activity 1 on 3rd day
b6q4_3pt5_Act2_per_rv → Status Code for activity 2
b6q5_3pt5_Act2_per_rv → Industry Code (NIC) for activity 2
b6q6_3pt5_Act2_per_rv → hours actuallly worked for activity 2 on 3rd day
b6q9_3pt5_Act2_per_rv → wage earning for activity 2 on 3 rd day
b6q7_3pt5_per_rv → total hours actually worked on 3rd day
b6q8_3pt5_per_rv → hours available for aditional worked on 3rd day
b6q4_3pt6_Act1_per_rv → Status Code for activity 1
b6q5_3pt6_Act1_per_rv → Industry Code (NIC) for activity 1
b6q6_3pt6_Act1_per_rv → hours actuallly worked for activity 1 on 2nd day
b6q9_3pt6_per_rv → wage earning for activity 1 on 2nd day
b6q4_3pt6_Act2_per_rv → Status Code for activity 2
b6q5_3pt6_Act2_per_rv → Industry Code (NIC) for activity 2
b6q6_3pt6_Act2_per_rv → hours actuallly worked for activity 2 on 2nd day
b6q9_3pt6_Act2_per_rv → wage earning for activity 2 on 2nd day
b6q7_3pt6_Act1_per_rv → total hours actually worked on 2nd day
b6q8_3pt6_per_rv → hours available for aditional worked on 2nd day
b6q4_3pt7_Act1_per_rv → Status Code for activity 1
b6q5_3pt7_Act1_per_rv → Industry Code (NIC) for activity 1
b6q6_3pt7_Act1_per_rv → hours actuallly worked for activity 1 on 1st day
b6q9_3pt7_Act1_per_rv → wage earning for activity 1 on 1st day
b6q4_3pt7_Act2_per_rv → Status Code for activity 2
b6q5_3pt7_Act2_per_rv → Industry Code (NIC) for activity 2
b6q6_3pt7_Act2_per_rv → hours actuallly worked for activity 2 on 1st day
b6q9_3pt7_Act2_per_rv → wage earning for activity 2 on 1st day
b6q7_3pt7_per_rv → total hours actually worked on 1st day
b6q8_3pt7_per_rv → Status Code for activity 2hours available for aditional worked on 1st day
b6q5_per_rv → Current Weekly Status (CWS)
b6q6_per_rv → Industry Code (CWS)
b6q7_per_rv → Occupation Code (CWS)
b6q9_per_rv → Earnings For Regular Salarid/Wage Activity
b6q10_per_rv → Earnings For Regular Salarid/Wage Activity
NSS_per_rv → Ns count for sector x stratum x substratum x sub-sample
NSC_per_rv → Ns count for sector x stratum x substratum
MULT_per_rv → Sub-sample wise Multiplier
No_qtr_per_rv → Occurance of State x Sector x Stratum x SubStratum in that Quarter including ear

In [9]:
labels = pd.DataFrame(list(meta.column_names_to_labels.items()), columns=["Variable", "Label"])
labels.to_csv("PLFS_2017-18_Data_Dictionary.csv", index=False)

In [7]:
df_raw.head()

,FI_per_rv,b1q2_per_rv,quarter_per_rv,visit_per_rv,b1q3_per_rv,state_per_rv,district_per_rv,b1q4_per_rv,b1q5_per_rv,b1q6_per_rv,...,b6q8_3pt7_per_rv,b6q5_per_rv,b6q6_per_rv,b6q7_per_rv,b6q9_per_rv,b6q10_per_rv,NSS_per_rv,NSC_per_rv,MULT_per_rv,No_qtr_per_rv
0,RVP1,104,Q3,V2,2,01,21,011,01,01,...,0,51,41,931,0,0,1,2,307015,2
1,RVP1,104,Q3,V2,2,01,21,011,01,01,...,0,93,,,0,0,1,2,307015,2
2,RVP1,104,Q3,V2,2,01,21,011,01,01,...,0,11,36,723,0,12000,1,2,307015,2
3,RVP1,104,Q3,V2,2,01,21,011,01,01,...,0,31,85,331,6000,0,1,2,307015,2
4,RVP1,104,Q3,V2,2,01,21,011,01,01,...,0,91,,,0,0,1,2,307015,2

In [6]:
df_raw = df.copy()   # keep df_raw safe
df_work = df_raw.copy()   # do all cleaning/filtering here

In [6]:
# df_work.columns.to_list()
df_raw.info()
print(df_raw["quarter_per_rv"].unique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272560 entries, 0 to 272559
Columns: 104 entries, FI_per_rv to No_qtr_per_rv
dtypes: int64(34), object(70)
memory usage: 216.3+ MB
['Q3' 'Q4' 'Q5']

In [7]:
df_work = df_work.drop(columns = ['b1q5_per_rv','b1q6_per_rv','b1q11_per_rv',
'b1q12_per_rv','fsu_per_rv','b1q13_per_rv','b1q14_per_rv','b6q4_3pt1_Act1_per_rv','b6q5_3pt1_per_rv','b6q6_Act1_3pt1_per_rv','b6q9_3pt1_Act1_per_rv','b6q4_3pt1_Act2_per_rv','b6q5_3pt1_Act2_per_rv','b6q6_3pt1_Act2_per_rv','b6q9_3pt1_Act2_per_rv','b6q7_3pt1_per_rv','b6q8_3pt1_per_rv','b6q4_3pt2_Act1_per_rv','b6q5_3pt2_Act1_per_rv','b6q6_3pt2_Act1_per_rv','b6q9_3pt2_Act1_per_rv','b6q4_3pt2_Act2_per_rv','b6q5_3pt2_Act2_per_rv','b6q6_3pt2_Act2_per_rv','b6q9_3pt2_Act2_per_rv','b6q7_3pt2_per_rv','b6q8_3pt2_per_rv','b6q4_3pt3_Act1_per_rv','b6q5_3pt3_Act1_per_rv',
'b6q6_3pt3_Act1_per_rv','b6q9_3pt3_Act1_per_rv','b6q4_3pt3_Act2_per_rv','b6q5_3pt3_Act2_per_rv','b6q6_3pt3_Act2_per_rv','b6q9_3pt3_Act2_per_rv','b6q7_3pt3_per_rv','b6q8_3pt3_per_rv','b6q4_3pt4_Act1_per_rv','b6q5_3pt4_Act1_per_rv','b6q6_3pt4_Act1_per_rv','b6q9_3pt4_per_rv',
'b6q4_3pt4_Act2_per_rv','b6q5_3pt4_Act2_per_rv','b6q6_3pt4_Act2_per_rv','b6q9_3pt4_Act2_per_rv','b6q7_3pt4_per_rv','b6q8_3pt4_per_rv','b6q4_3pt5_Act1_per_rv','b6q5_3pt5_Act1_per_rv','b6q6_3pt5_Act1_per_rv','b6q9_3pt5_Act1_per_rv','b6q4_3pt5_Act2_per_rv','b6q5_3pt5_Act2_per_rv','b6q6_3pt5_Act2_per_rv','b6q9_3pt5_Act2_per_rv','b6q7_3pt5_per_rv','b6q8_3pt5_per_rv','b6q4_3pt6_Act1_per_rv','b6q5_3pt6_Act1_per_rv',
'b6q6_3pt6_Act1_per_rv','b6q9_3pt6_per_rv','b6q4_3pt6_Act2_per_rv','b6q5_3pt6_Act2_per_rv','b6q6_3pt6_Act2_per_rv','b6q9_3pt6_Act2_per_rv','b6q7_3pt6_Act1_per_rv','b6q8_3pt6_per_rv',
'b6q4_3pt7_Act1_per_rv','b6q5_3pt7_Act1_per_rv','b6q6_3pt7_Act1_per_rv','b6q9_3pt7_Act1_per_rv','b6q4_3pt7_Act2_per_rv','b6q5_3pt7_Act2_per_rv','b6q6_3pt7_Act2_per_rv','b6q9_3pt7_Act2_per_rv',
'b6q7_3pt7_per_rv','b6q8_3pt7_per_rv','NSS_per_rv','NSC_per_rv','No_qtr_per_rv'
])

In [8]:
df_work.rename(columns={
    "FI_per_rv" : "File Identification",
    "b1q2_per_rv" : "Schedule",
    "quarter_per_rv" : "Quarter",
    "visit_per_rv" : "Visit",
    "b1q3_per_rv" : "Sector",
    "state_per_rv" : "State/UT Code",
    "district_per_rv" : "District Code",
    "b1q4_per_rv" : "NSS-Region",
    "b1q15_per_rv" : "Sample Household Number",
    "b4q1_per_rv" : "Person Serial No.",
    "b4q4_per_rv" : "Relationship To Head",
    "b4q5_per_rv" : "Sex",
    "b4q6_per_rv" : "Age",
    "b4q7_per_rv" : "Marital Status",
    "b4q8_per_rv" : "General Edu Level",
    "b4q9_per_rv" : "Technical Edu Level",
    "b4q10_per_rv" : "No. of years in Formal Edu",
    "b4q11_per_rv" : "Attendance in Edu Inst",
    "b6q5_per_rv" : "Current Weekly Status",
    "b6q6_per_rv" : "Industry Code (CWS)",
    "b6q7_per_rv" : "Occupation Code (CWS)",
    "b6q9_per_rv" : "Earnings For Reg Salarid/Wage Act",
    "MULT_per_rv" : "Sub-sample wise Multiplier"   
    
}, inplace = True)
df_work.head()

,File Identification,Schedule,Quarter,Visit,Sector,State/UT Code,District Code,NSS-Region,Sample Household Number,Person Serial No.,...,General Edu Level,Technical Edu Level,No. of years in Formal Edu,Attendance in Edu Inst,Current Weekly Status,Industry Code (CWS),Occupation Code (CWS),Earnings For Reg Salarid/Wage Act,b6q10_per_rv,Sub-sample wise Multiplier
0,RVP1,104,Q3,V2,2,01,21,011,01,01,...,07,01,8,,51,41,931,0,0,307015
1,RVP1,104,Q3,V2,2,01,21,011,01,02,...,01,01,0,,93,,,0,0,307015
2,RVP1,104,Q3,V2,2,01,21,011,01,03,...,08,01,10,12,11,36,723,0,12000,307015
3,RVP1,104,Q3,V2,2,01,21,011,01,04,...,12,01,15,32,31,85,331,6000,0,307015
4,RVP1,104,Q3,V2,2,01,21,011,01,05,...,10,01,12,31,91,,,0,0,307015

In [42]:
df_work.to_csv("PLFS_2017_18_cleaned.csv", index=False)

In [27]:
df_raw.head()

,FI_per_rv,b1q2_per_rv,quarter_per_rv,visit_per_rv,b1q3_per_rv,state_per_rv,district_per_rv,b1q4_per_rv,b1q5_per_rv,b1q6_per_rv,...,b6q8_3pt7_per_rv,b6q5_per_rv,b6q6_per_rv,b6q7_per_rv,b6q9_per_rv,b6q10_per_rv,NSS_per_rv,NSC_per_rv,MULT_per_rv,No_qtr_per_rv
0,RVP1,104,Q3,V2,2,01,21,011,01,01,...,0,51,41,931,0,0,1,2,307015,2
1,RVP1,104,Q3,V2,2,01,21,011,01,01,...,0,93,,,0,0,1,2,307015,2
2,RVP1,104,Q3,V2,2,01,21,011,01,01,...,0,11,36,723,0,12000,1,2,307015,2
3,RVP1,104,Q3,V2,2,01,21,011,01,01,...,0,31,85,331,6000,0,1,2,307015,2
4,RVP1,104,Q3,V2,2,01,21,011,01,01,...,0,91,,,0,0,1,2,307015,2

In [28]:
# df_work = df_work["Sex"].astype(int)
# df_work_f = df_work[df_work["Sex"] == 2]
print(df_work.columns.tolist())
# # print(df_work["Sex"].unique())
# print(df_work["Sex"].dtype)

['File Identification', 'Schedule', 'Quarter', 'Visit', 'Sector', 'State/UT Code', 'District Code', 'NSS-Region', 'Sample Household Number', 'Person Serial No.', 'Relationship To Head', 'Sex', 'Age', 'Marital Status', 'General Edu Level', 'Technical Edu Level', 'No. of years in Formal Edu', 'Attendance in Edu Inst', 'Current Weekly Status', 'Industry Code (CWS)', 'Occupation Code (CWS)', 'Earnings For Reg Salarid/Wage Act', 'b6q10_per_rv', 'Sub-sample wise Multiplier']

In [29]:
age = df_work["Age"]
print(age)

0         60
1         55
2         28
3         26
4         24
          ..
272555    32
272556    12
272557    15
272558    59
272559    52
Name: Age, Length: 272560, dtype: int64

In [30]:
df_work_age = df_work[(df_work["Age"] >= 15) & (df_work["Age"] <= 59)]
df_work_f_age = df_work_age[df_work_age["Sex"] == '2']
df_work_f_age.head()

,File Identification,Schedule,Quarter,Visit,Sector,State/UT Code,District Code,NSS-Region,Sample Household Number,Person Serial No.,...,General Edu Level,Technical Edu Level,No. of years in Formal Edu,Attendance in Edu Inst,Current Weekly Status,Industry Code (CWS),Occupation Code (CWS),Earnings For Reg Salarid/Wage Act,b6q10_per_rv,Sub-sample wise Multiplier
1,RVP1,104,Q3,V2,2,01,21,011,01,02,...,01,01,0,,93,,,0,0,307015
3,RVP1,104,Q3,V2,2,01,21,011,01,04,...,12,01,15,32,31,85,331,6000,0,307015
4,RVP1,104,Q3,V2,2,01,21,011,01,05,...,10,01,12,31,91,,,0,0,307015
8,RVP1,104,Q3,V2,2,01,21,011,02,03,...,07,01,8,,93,,,0,0,307015
11,RVP1,104,Q3,V2,2,01,21,011,01,01,...,10,01,12,,11,96,514,0,2000,418657

In [31]:
print(df_work_f_age["Sex"].unique())
print(df_work_f_age["Age"].min(), df_work_f_age["Age"].max())
print(df_work_f_age.shape)

['2']
15 59
(91977, 24)

In [14]:
df_work_f_age[["Age", "Current Weekly Status", "Sub-sample wise Multiplier"]].isna().sum()

Age                           0
Current Weekly Status         0
Sub-sample wise Multiplier    0
dtype: int64

In [15]:
df_work_f_age["Sub-sample wise Multiplier"].dtype

dtype('int64')

In [16]:
print(df_work_f_age.columns.tolist())

['File Identification', 'Schedule', 'Quarter', 'Visit', 'Sector', 'State/UT Code', 'District Code', 'NSS-Region', 'Sample Household Number', 'Person Serial No.', 'Relationship To Head', 'Sex', 'Age', 'Marital Status', 'General Edu Level', 'Technical Edu Level', 'No. of years in Formal Edu', 'Attendance in Edu Inst', 'Current Weekly Status', 'Industry Code (CWS)', 'Occupation Code (CWS)', 'Earnings For Reg Salarid/Wage Act', 'b6q10_per_rv', 'Sub-sample wise Multiplier']

In [17]:
cols_to_keep = [
  'File Identification', 'Visit', 'Sector', 'State/UT Code', 'District Code', 'Sample Household Number', 'Person Serial No.', 'Sex', 'Age', 
'Marital Status', 'General Edu Level', 'Technical Edu Level', 'Current Weekly Status', 'Industry Code (CWS)', 'Occupation Code (CWS)', 
'Earnings For Reg Salarid/Wage Act', 'b6q10_per_rv', 'Sub-sample wise Multiplier'
]
df_work_f_age = df_work_f_age[cols_to_keep]

In [32]:
print(df_work_f_age.columns.tolist())

['File Identification', 'Schedule', 'Quarter', 'Visit', 'Sector', 'State/UT Code', 'District Code', 'NSS-Region', 'Sample Household Number', 'Person Serial No.', 'Relationship To Head', 'Sex', 'Age', 'Marital Status', 'General Edu Level', 'Technical Edu Level', 'No. of years in Formal Edu', 'Attendance in Edu Inst', 'Current Weekly Status', 'Industry Code (CWS)', 'Occupation Code (CWS)', 'Earnings For Reg Salarid/Wage Act', 'b6q10_per_rv', 'Sub-sample wise Multiplier']

In [33]:
df_work_f_age['Year'] = '2017-18'
df_work_f_age.head()

C:\Users\ZAINAB KHAN\AppData\Local\Temp\ipykernel_13392\2516129050.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_work_f_age['Year'] = '2017-18'

,File Identification,Schedule,Quarter,Visit,Sector,State/UT Code,District Code,NSS-Region,Sample Household Number,Person Serial No.,...,Technical Edu Level,No. of years in Formal Edu,Attendance in Edu Inst,Current Weekly Status,Industry Code (CWS),Occupation Code (CWS),Earnings For Reg Salarid/Wage Act,b6q10_per_rv,Sub-sample wise Multiplier,Year
1,RVP1,104,Q3,V2,2,01,21,011,01,02,...,01,0,,93,,,0,0,307015,2017-18
3,RVP1,104,Q3,V2,2,01,21,011,01,04,...,01,15,32,31,85,331,6000,0,307015,2017-18
4,RVP1,104,Q3,V2,2,01,21,011,01,05,...,01,12,31,91,,,0,0,307015,2017-18
8,RVP1,104,Q3,V2,2,01,21,011,02,03,...,01,8,,93,,,0,0,307015,2017-18
11,RVP1,104,Q3,V2,2,01,21,011,01,01,...,01,12,,11,96,514,0,2000,418657,2017-18

In [34]:
df_work_f_age.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91977 entries, 1 to 272559
Data columns (total 25 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   File Identification                91977 non-null  object
 1   Schedule                           91977 non-null  object
 2   Quarter                            91977 non-null  object
 3   Visit                              91977 non-null  object
 4   Sector                             91977 non-null  object
 5   State/UT Code                      91977 non-null  object
 6   District Code                      91977 non-null  object
 7   NSS-Region                         91977 non-null  object
 8   Sample Household Number            91977 non-null  object
 9   Person Serial No.                  91977 non-null  object
 10  Relationship To Head               91977 non-null  object
 11  Sex                                91977 non-null  object
 12  Age                                91977 non-null  int64
 13  Marital Status                     91977 non-null  object
 14  General Edu Level                  91977 non-null  object
 15  Technical Edu Level                91977 non-null  object
 16  No. of years in Formal Edu         91977 non-null  int64
 17  Attendance in Edu Inst             91977 non-null  object
 18  Current Weekly Status              91977 non-null  object
 19  Industry Code (CWS)                91977 non-null  object
 20  Occupation Code (CWS)              91977 non-null  object
 21  Earnings For Reg Salarid/Wage Act  91977 non-null  int64
 22  b6q10_per_rv                       91977 non-null  int64
 23  Sub-sample wise Multiplier         91977 non-null  int64
 24  Year                               91977 non-null  object
dtypes: int64(5), object(20)
memory usage: 18.2+ MB

In [43]:
df_work_f_age["State/UT Code"] = pd.to_numeric(df_work_f_age["State/UT Code"], errors="coerce")

# Now merge Dadra & Nagar Haveli → Daman & Diu
df_work_f_age["State/UT Code"] = df_work_f_age["State/UT Code"].replace({26: 25})

In [45]:
print(df_work_f_age["State/UT Code"].nunique())  # should be 34 for every year
print(sorted(df_work_f_age["State/UT Code"].unique()))

34
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 32, 33, 34, 35, 36]

In [46]:
df_work_f_age["State/UT Code"].value_counts().sort_index()

1     3064
2      592
3     3282
4      574
5     1490
6     2473
7     1662
8     3782
9     7394
10    2860
11     537
12    1392
13    1124
14    2654
15    2398
16    1254
17    1020
18    1838
19    5902
20    2267
21    2088
22    1854
23    4219
24    3759
25     284
27    8647
28    3304
29    4451
30     423
32    4730
33    6329
34     854
35     465
36    3011
Name: State/UT Code, dtype: int64

In [47]:
df_work_f_age.to_csv('PLFS_2017_18_females_15to59_ready.csv', index=False)