In [36]:
import pandas as pd
import pyreadstat

In [37]:
file_path = r"C:\Users\ZAINAB KHAN\Desktop\PLFS Project\unfiltered\DDI-IND-CSO-PLFS-2021-22\perrv.dta"

# Load data with metadata
df, meta = pyreadstat.read_dta(file_path)

# See what each column means
for col, label in meta.column_names_to_labels.items():
    print(f"{col} → {label}")

FI_perrv → File Identification
B1q2_perrv → Schdule
qtr_perrv → Quarter
visit_perrv → Visit
b1q3_perrv → Sector
state_perrv → State/Ut Code
b1q4_perrv → District Code
nss_region_perrv → NSS-Region
b1q5_perrv → Stratum
b1q6_perrv → Sub-Stratum
b1q11_perrv → Sub-Sample
b1q12_perrv → Fod Sub-Region
b1q1_perrv → FSU
b1q13_perrv → Sample Sg/Sb No.
b1q14_perrv → Second Stage Stratum No.
b1q15_perrv → Sample Household Number
b4q1_pervv → Person Serial No.
b4q4_perrv → Relationship To Head
b4q5_perrv → Sex
b4q6_perrv → Age
b4q7 → Marital Status
b4q8_perrv → General Educaion Level
b4q9_perrv → Technical Educaion Level
b4q10_perrv → No. of years in Formal Education
b4q11_perrv → Status of Current Attendance in Educational Institution
b6q4_3pt1_perrv → Status Code for activity 1
b6q5_3pt1_perrv → Industry Code (NIC) for activity 1
b6q6_3pt1_perrv → hours actuallly worked for activity 1 on 7 th day
b6q9_3pt1_perrv → wage earning for activity 1 on 7 th day
b6q4_act2_3pt1_perrv → Status Code for activity 2
b6q5_act2_3pt1_perrv → Industry Code (NIC) for activity 2
b6q6_act2_3pt1_perrv → hours actuallly worked for activity 2 on 7 th day
b6q9_act2_3pt1_perrv → wage earning for activity 2 on 7 th day
b6q7_3pt1_perrv → total hours actually worked on 7th day
b6q8_3pt1_perrv → hours available for aditional worked on 7th day
b6q4_3pt2_perrv → Status Code for activity 1
b6q5_3pt2_perrv → Industry Code (NIC) for activity 1
b6q6_3pt2_perrv → hours actuallly worked for activity 1 on 6 th day
b6q9_3pt2_perrv → wage earning for activity 1 on 7 th day
b6q4_act2_3pt2_perrv → Status Code for activity 2
b6q5_act2_3pt2_perrv → Industry Code (NIC) for activity 2
b6q6_act2_3pt2_perrv → hours actuallly worked for activity 2 on 6 th day
b6q9_act2_3pt2_perrv → wage earning for activity 2 on 6 th day
b6q7_3pt2_perrv → total hours actually worked on 6th day
b6q8_3pt2_perrv → hours available for aditional worked on 6th day
b6q4_3pt3_perrv → Status Code for activity 1
b6q5_3pt3_perrv → Industry Code (NIC) for activity 1
b6q6_3pt3_perrv → hours actuallly worked for activity 1 on5 th day
b6q9_3pt3_perrv → wage earning for activity 1 on 5 th day
b6q4_act2_3pt3_perrv → Status Code for activity 2
b6q5_act2_3pt3_perrv → Industry Code (NIC) for activity 2
b6q6_act2_3pt3_perrv → hours actuallly worked for activity 2 on 5 th day
b6q9_act2_3pt3_perrv → wage earning for activity 2 on 5 th day
b6q7_3pt3_perrv → total hours actually worked on 5th day
b6q8_3pt3_perrv → hours available for aditional worked on 5th day
b6q4_3pt4_perrv → Status Code for activity 1
b6q5_3pt4_perrv → Industry Code (NIC) for activity 1
b6q6_3pt4_perrv → hours actuallly worked for activity 1 on 4th day
b6q9_3pt4_perrv → wage earning for activity 1 on 4th day
b6q4_act2_3pt4_perrv → Status Code for activity 2
b6q5_act2_3pt4_perrv → Industry Code (NIC) for activity 2
b6q6_act2_3pt4_perrv → hours actuallly worked for activity 2 on 4th day
b6q9_act2_3pt4_perrv → wage earning for activity 2 on 4th day
b6q7_3pt4_perrv → total hours actually worked on 4th day
b6q8_3pt4_perrv → hours available for aditional worked on 4th day
b6q4_3pt5_perrv → Status Code for activity 1
b6q5_3pt5_perrv → Industry Code (NIC) for activity 1
b6q6_3pt5_perrv → hours actuallly worked for activity 1 on 3rd day
b6q9_3pt5_perrv → wage earning for activity 1 on 3rd day
b6q4_act2_3pt5_perrv → Status Code for activity 2
b6q5_act2_3pt5_perrv → Industry Code (NIC) for activity 2
b6q6_act2_3pt5_perrv → hours actuallly worked for activity 2 on 3rd day
b6q9_act2_3pt5_perrv → wage earning for activity 2 on 3 rd day
b6q7_3pt5_perrv → total hours actually worked on 3rd day
b6q8_3pt5_perrv → hours available for aditional worked on 3rd day
b6q4_3pt6_perrv → Status Code for activity 1
b6q5_3pt6_perrv → Industry Code (NIC) for activity 1
b6q6_3pt6_perrv → hours actuallly worked for activity 1 on 2nd day
b6q9_3pt6_perrv → wage earning for activity 1 on 2nd day
b6q4_act2_3pt6_perrv → Status Code for activity 2
b6q5_act2_3pt6_perrv → Industry Code (NIC) for activity 2
b6q6_act2_3pt6_perrv → hours actuallly worked for activity 2 on 2nd day
b6q9_act2_3pt6_perrv → wage earning for activity 2 on 2nd day
b6q7_3pt6_perrv → total hours actually worked on 2nd day
b6q8_3pt6_perrv → hours available for aditional worked on 2nd day
b6q4_3pt7_perrv → Status Code for activity 1
b6q5_3pt7_perrv → Industry Code (NIC) for activity 1
b6q6_3pt7_perrv → hours actuallly worked for activity 1 on 1st day
b6q9_3pt7_perrv → wage earning for activity 1 on 1st day
b6q4_act2_3pt7_perrv → Status Code for activity 2
b6q5_act2_3pt7_perrv → Industry Code (NIC) for activity 2
b6q6_act2_3pt7_perrv → hours actuallly worked for activity 2 on 1st day
b6q9_act2_3pt7_perrv → wage earning for activity 2 on 1st day
b6q7_3pt7_perrv → total hours actually worked on 1st day
b6q8_3pt7_perrv → hours available for aditional worked on 1st day
b6q5_perrv → Current Weekly Status (CWS)
b6q6_perrv → Industry Code (CWS)
b6q7_perrv → Occupation Code (CWS)
b6q9_perrv → Earnings For Regular Salarid/Wage Activity
b6q10_perrv → Earnings For Self Employed
NSS_perrv → Ns count for sector x stratum x substratum x sub-sample
NSC_perrv → Ns count for sector x stratum x substratum
mult_perrv → Sub-sample wise Multiplier
no_qtr_perrv → Occurance of FSUs in State x Sector x Stratum x SubStratum in that Quarter inclu

In [14]:
labels = pd.DataFrame(list(meta.column_names_to_labels.items()), columns=["Variable", "Label"])
labels.to_csv("PLFS_2020-21_Data_Dictionary.csv", index=False)

In [38]:
df_raw = df.copy() #original data w/o edit
df_work = df.copy() # all work here
df_work.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511361 entries, 0 to 511360
Columns: 104 entries, FI_perrv to no_qtr_perrv
dtypes: int64(49), object(55)
memory usage: 405.7+ MB

In [39]:
df_work = df_work.drop(columns = [
    'B1q2_perrv',
    'qtr_perrv',
    'nss_region_perrv',
    'b1q5_perrv',
    'b1q6_perrv',
    'b1q11_perrv',
    'b1q12_perrv',
    'b1q1_perrv',
    'b1q13_perrv',
    'b1q14_perrv',
    'b4q4_perrv',
    'b4q10_perrv',
    'b4q11_perrv',
    'b6q4_3pt1_perrv',
    'b6q5_3pt1_perrv',
    'b6q6_3pt1_perrv',
    'b6q9_3pt1_perrv',
    'b6q4_act2_3pt1_perrv',
    'b6q5_act2_3pt1_perrv',
    'b6q6_act2_3pt1_perrv',
    'b6q9_act2_3pt1_perrv',
    'b6q7_3pt1_perrv',
    'b6q8_3pt1_perrv',
    'b6q4_3pt2_perrv',
    'b6q5_3pt2_perrv',
    'b6q6_3pt2_perrv',
    'b6q9_3pt2_perrv',
    'b6q4_act2_3pt2_perrv',
    'b6q5_act2_3pt2_perrv',
    'b6q6_act2_3pt2_perrv',
    'b6q9_act2_3pt2_perrv',
    'b6q7_3pt2_perrv',
    'b6q8_3pt2_perrv',
    'b6q4_3pt3_perrv',
    'b6q5_3pt3_perrv',
    'b6q6_3pt3_perrv',
    'b6q9_3pt3_perrv',
    'b6q4_act2_3pt3_perrv',
    'b6q5_act2_3pt3_perrv',
    'b6q6_act2_3pt3_perrv',
    'b6q9_act2_3pt3_perrv',
    'b6q7_3pt3_perrv',
    'b6q8_3pt3_perrv',
    'b6q4_3pt4_perrv',
    'b6q5_3pt4_perrv',
    'b6q6_3pt4_perrv',
    'b6q9_3pt4_perrv',
    'b6q4_act2_3pt4_perrv',
    'b6q5_act2_3pt4_perrv',
    'b6q6_act2_3pt4_perrv',
    'b6q9_act2_3pt4_perrv',
    'b6q7_3pt4_perrv',
    'b6q8_3pt4_perrv',
    'b6q4_3pt5_perrv',
    'b6q5_3pt5_perrv',
    'b6q6_3pt5_perrv',
    'b6q9_3pt5_perrv',
    'b6q4_act2_3pt5_perrv',
    'b6q5_act2_3pt5_perrv',
    'b6q6_act2_3pt5_perrv',
    'b6q9_act2_3pt5_perrv',
    'b6q7_3pt5_perrv',
    'b6q8_3pt5_perrv',
    'b6q4_3pt6_perrv',
    'b6q5_3pt6_perrv',
    'b6q6_3pt6_perrv',
    'b6q9_3pt6_perrv',
    'b6q4_act2_3pt6_perrv',
    'b6q5_act2_3pt6_perrv',
    'b6q6_act2_3pt6_perrv',
    'b6q9_act2_3pt6_perrv',
    'b6q7_3pt6_perrv',
    'b6q8_3pt6_perrv',
    'b6q4_3pt7_perrv',
    'b6q5_3pt7_perrv',
    'b6q6_3pt7_perrv',
    'b6q9_3pt7_perrv',
    'b6q4_act2_3pt7_perrv',
    'b6q5_act2_3pt7_perrv',
    'b6q6_act2_3pt7_perrv',
    'b6q9_act2_3pt7_perrv',
    'b6q7_3pt7_perrv',
    'b6q8_3pt7_perrv',
    'NSS_perrv',
    'NSC_perrv',
    'no_qtr_perrv'

])

In [40]:
df_work.rename(columns = {
    "FI_perrv" : "File Identification",
    "b1q3_perrv" : "Sector",
    "visit_perrv" : "Visit",
    "state_perrv" : "State/UT Code",
    "b1q4_perrv" : "District Code",
    "b1q15_perrv" : "Sample Household Number",
    "b4q1_pervv" : "Person Serial No.",
    "b4q5_perrv" : "Sex",
    "b4q6_perrv" : "Age",
    "b4q7" : "Marital Status",
    "b4q8_perrv" : "General Edu Level",
    "b4q9_perrv" : "Technical Edu Level",
    "b6q5_perrv" : "Current Weekly Status",
    "b6q6_perrv" : "Industry Code (CWS)",
    "b6q7_perrv" : "Occupation Code (CWS)",
    "b6q9_perrv" : "Earnings For Reg Salarid/Wage Act",
    "b6q10_perrv" : "Earnings For Self Employed",
    "mult_perrv" : "Sub-sample wise Multiplier"

}, inplace = True)
print(df_work.columns.tolist())

['File Identification', 'Visit', 'Sector', 'State/UT Code', 'District Code', 'Sample Household Number', 'Person Serial No.', 'Sex', 'Age', 'Marital Status', 'General Edu Level', 'Technical Edu Level', 'Current Weekly Status', 'Industry Code (CWS)', 'Occupation Code (CWS)', 'Earnings For Reg Salarid/Wage Act', 'Earnings For Self Employed', 'Sub-sample wise Multiplier']

In [42]:
df_work.to_csv("PLFS_2021_22_cleaned.csv", index=False)

In [43]:
df_work["Age"].dtype

dtype('int64')

In [44]:
df_work_age = df_work[(df_work["Age"] >= 15) & (df_work["Age"] <= 59)]
df_work_f_age = df_work_age[(df_work_age["Sex"] == '2')]
df_work_f_age.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170722 entries, 1 to 511359
Data columns (total 18 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   File Identification                170722 non-null  object
 1   Visit                              170722 non-null  object
 2   Sector                             170722 non-null  object
 3   State/UT Code                      170722 non-null  object
 4   District Code                      170722 non-null  object
 5   Sample Household Number            170722 non-null  object
 6   Person Serial No.                  170722 non-null  object
 7   Sex                                170722 non-null  object
 8   Age                                170722 non-null  int64
 9   Marital Status                     170722 non-null  object
 10  General Edu Level                  170722 non-null  object
 11  Technical Edu Level                170722 non-null  object
 12  Current Weekly Status              170722 non-null  object
 13  Industry Code (CWS)                170722 non-null  object
 14  Occupation Code (CWS)              170722 non-null  object
 15  Earnings For Reg Salarid/Wage Act  170722 non-null  int64
 16  Earnings For Self Employed         170722 non-null  int64
 17  Sub-sample wise Multiplier         170722 non-null  int64
dtypes: int64(4), object(14)
memory usage: 24.7+ MB

In [45]:
print(df_work_f_age["Sex"].unique())
print(df_work_f_age["Age"].min(), df_work_f_age["Age"].max())
print(df_work_f_age.shape)

['2']
15 59
(170722, 18)

In [46]:
df_work_f_age[["Age", "Current Weekly Status", "Sub-sample wise Multiplier"]].isna().sum()

Age                           0
Current Weekly Status         0
Sub-sample wise Multiplier    0
dtype: int64

In [47]:
df_work_f_age["Sub-sample wise Multiplier"].dtype

dtype('int64')

In [48]:
df_work_f_age = df_work_f_age.copy()
df_work_f_age['Year'] = '2021-22'

In [31]:
df_work_f_age.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170722 entries, 1 to 511359
Data columns (total 19 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   File Identification                170722 non-null  object
 1   Visit                              170722 non-null  object
 2   Sector                             170722 non-null  object
 3   State/UT Code                      170722 non-null  object
 4   District Code                      170722 non-null  object
 5   Sample Household Number            170722 non-null  object
 6   Person Serial No.                  170722 non-null  object
 7   Sex                                170722 non-null  object
 8   Age                                170722 non-null  int64
 9   Marital Status                     170722 non-null  object
 10  General Edu Level                  170722 non-null  object
 11  Technical Edu Level                170722 non-null  object
 12  Current Weekly Status              170722 non-null  object
 13  Industry Code (CWS)                170722 non-null  object
 14  Occupation Code (CWS)              170722 non-null  object
 15  Earnings For Reg Salarid/Wage Act  170722 non-null  int64
 16  Earnings For Self Employed         170722 non-null  int64
 17  Sub-sample wise Multiplier         170722 non-null  int64
 18  Year                               170722 non-null  object
dtypes: int64(4), object(15)
memory usage: 26.1+ MB

In [49]:
df_work_f_age["State/UT Code"] = pd.to_numeric(df_work_f_age["State/UT Code"], errors="coerce")

# Now merge Dadra & Nagar Haveli → Daman & Diu
df_work_f_age["State/UT Code"] = df_work_f_age["State/UT Code"].replace({26: 25, 37: 1})

In [51]:
print(df_work_f_age["State/UT Code"].nunique())  # should be 34 for every year
print(sorted(df_work_f_age["State/UT Code"].unique()))

34
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 32, 33, 34, 35, 36]

In [54]:
df_work_f_age.to_csv('PLFS_2021_22_females_15to59_ready.csv', index=False)

In [52]:
print(df_work_f_age["State/UT Code"].max())

36

In [53]:
df_work_f_age["State/UT Code"].nunique()

34