In [21]:
import pandas as pd
import pyreadstat

In [22]:
file_path = r"C:\Users\ZAINAB KHAN\Desktop\PLFS Project\unfiltered\DDI-IND-CSO-PLFS-2019-2020\PERRV_2019-20.dta"

# Load data with metadata
df, meta = pyreadstat.read_dta(file_path)

# See what each column means
for col, label in meta.column_names_to_labels.items():
    print(f"{col} → {label}")

FI_per_rv → File Identification
b1q2_per_rv → Schdule
quarter_per_rv → Quarter
visit_per_rv → Visit
b1q3_per_rv → Sector
state_per_rv → State/Ut Code
district_per_rv → District Code
b1q4_per_rv → NSS-Region
b1q5_per_rv → Stratum
b1q6_per_rv → Sub-Stratum
b1q11_per_rv → Sub-Sample
b1q12_per_rv → Fod Sub-Region
fsu_per_rv → FSU
b1q13_per_rv → Sample Sg/Sb No.
b1q14_per_rv → Second Stage Stratum No.
b1q15_per_rv → Sample Household Number
b4q1_per_rv → Person Serial No.
b4q4_per_rv → Relationship To Head
b4q5_per_rv → Sex
b4q6_per_rv → Age
b4q7_per_rv → Marital Status
b4q8_per_rv → General Educaion Level
b4q9_per_rv → Technical Educaion Level
b4q10_per_rv → No. of years in Formal Education
b4q11_per_rv → Status of Current Attendance in Educational Institution
b6q4_3pt1_Act1_per_rv → Status Code for activity 1
b6q5_3pt1_per_rv → Industry Code (NIC) for activity 1
b6q6_Act1_3pt1_per_rv → hours actuallly worked for activity 1 on 7 th day
b6q9_3pt1_Act1_per_rv → wage earning for activity 1 on 7 th day
b6q4_3pt1_Act2_per_rv → Status Code for activity 2
b6q5_3pt1_Act2_per_rv → Industry Code (NIC) for activity 2
b6q6_3pt1_Act2_per_rv → hours actuallly worked for activity 2 on 7 th day
b6q9_3pt1_Act2_per_rv → wage earning for activity 2 on 7 th day
b6q7_3pt1_per_rv → total hours actually worked on 7th day
b6q8_3pt1_per_rv → hours available for aditional worked on 7th day
b6q4_3pt2_Act1_per_rv → Status Code for activity 1
b6q5_3pt2_Act1_per_rv → Industry Code (NIC) for activity 1
b6q6_3pt2_Act1_per_rv → hours actuallly worked for activity 1 on 6 th day
b6q9_3pt2_Act1_per_rv → wage earning for activity 1 on 7 th day
b6q4_3pt2_Act2_per_rv → Status Code for activity 2
b6q5_3pt2_Act2_per_rv → Industry Code (NIC) for activity 2
b6q6_3pt2_Act2_per_rv → hours actuallly worked for activity 2 on 6 th day
b6q9_3pt2_Act2_per_rv → wage earning for activity 2 on 6 th day
b6q7_3pt2_per_rv → total hours actually worked on 6th day
b6q8_3pt2_per_rv → hours available for aditional worked on 6th day
b6q4_3pt3_Act1_per_rv → Status Code for activity 1
b6q5_3pt3_Act1_per_rv → Industry Code (NIC) for activity 1
b6q6_3pt3_Act1_per_rv → hours actuallly worked for activity 1 on5 th day
b6q9_3pt3_Act1_per_rv → wage earning for activity 1 on 5 th day
b6q4_3pt3_Act2_per_rv → Status Code for activity 2
b6q5_3pt3_Act2_per_rv → Industry Code (NIC) for activity 2
b6q6_3pt3_Act2_per_rv → hours actuallly worked for activity 2 on 5 th day
b6q9_3pt3_Act2_per_rv → wage earning for activity 2 on 5 th day
b6q7_3pt3_per_rv → total hours actually worked on 5th day
b6q8_3pt3_per_rv → hours available for aditional worked on 5th day
b6q4_3pt4_Act1_per_rv → Status Code for activity 1
b6q5_3pt4_Act1_per_rv → Industry Code (NIC) for activity 1
b6q6_3pt4_Act1_per_rv → hours actuallly worked for activity 1 on 4th day
b6q9_3pt4_per_rv → wage earning for activity 1 on 4th day
b6q4_3pt4_Act2_per_rv → Status Code for activity 2
b6q5_3pt4_Act2_per_rv → Industry Code (NIC) for activity 2
b6q6_3pt4_Act2_per_rv → hours actuallly worked for activity 2 on 4th day
b6q9_3pt4_Act2_per_rv → wage earning for activity 2 on 4th day
b6q7_3pt4_per_rv → total hours actually worked on 4th day
b6q8_3pt4_per_rv → hours available for aditional worked on 4th day
b6q4_3pt5_Act1_per_rv → Status Code for activity 1
b6q5_3pt5_Act1_per_rv → Industry Code (NIC) for activity 1
b6q6_3pt5_Act1_per_rv → hours actuallly worked for activity 1 on 3rd day
b6q9_3pt5_Act1_per_rv → wage earning for activity 1 on 3rd day
b6q4_3pt5_Act2_per_rv → Status Code for activity 2
b6q5_3pt5_Act2_per_rv → Industry Code (NIC) for activity 2
b6q6_3pt5_Act2_per_rv → hours actuallly worked for activity 2 on 3rd day
b6q9_3pt5_Act2_per_rv → wage earning for activity 2 on 3 rd day
b6q7_3pt5_per_rv → total hours actually worked on 3rd day
b6q8_3pt5_per_rv → hours available for aditional worked on 3rd day
b6q4_3pt6_Act1_per_rv → Status Code for activity 1
b6q5_3pt6_Act1_per_rv → Industry Code (NIC) for activity 1
b6q6_3pt6_Act1_per_rv → hours actuallly worked for activity 1 on 2nd day
b6q9_3pt6_per_rv → wage earning for activity 1 on 2nd day
b6q4_3pt6_Act2_per_rv → Status Code for activity 2
b6q5_3pt6_Act2_per_rv → Industry Code (NIC) for activity 2
b6q6_3pt6_Act2_per_rv → hours actuallly worked for activity 2 on 2nd day
b6q9_3pt6_Act2_per_rv → wage earning for activity 2 on 2nd day
b6q7_3pt6_Act1_per_rv → total hours actually worked on 2nd day
b6q8_3pt6_per_rv → hours available for aditional worked on 2nd day
b6q4_3pt7_Act1_per_rv → Status Code for activity 1
b6q5_3pt7_Act1_per_rv → Industry Code (NIC) for activity 1
b6q6_3pt7_Act1_per_rv → hours actuallly worked for activity 1 on 1st day
b6q9_3pt7_Act1_per_rv → wage earning for activity 1 on 1st day
b6q4_3pt7_Act2_per_rv → Status Code for activity 2
b6q5_3pt7_Act2_per_rv → Industry Code (NIC) for activity 2
b6q6_3pt7_Act2_per_rv → hours actuallly worked for activity 2 on 1st day
b6q9_3pt7_Act2_per_rv → wage earning for activity 2 on 1st day
b6q7_3pt7_per_rv → total hours actually worked on 1st day
b6q8_3pt7_per_rv → hours available for aditional worked on 1st day
b6q5_per_rv → Current Weekly Status (CWS)
b6q6_per_rv → Industry Code (CWS)
b6q7_per_rv → Occupation Code (CWS)
b6q9_per_rv → Earnings For Regular Salarid/Wage Activity
b6q10_per_rv → Earnings For Regular Salarid/Wage Activity
NSS_per_rv → Ns count for sector x stratum x substratum x sub-sample
NSC_per_rv → Ns count for sector x stratum x substratum
MULT_per_rv → Sub-sample wise Multiplier
No_qtr_per_rv → Occurance of State x Sector x Stratum x SubStratum in that Quarter including ear

In [4]:
labels = pd.DataFrame(list(meta.column_names_to_labels.items()), columns=["Variable", "Label"])
labels.to_csv("PLFS_2019-20_Data_Dictionary.csv", index=False)

In [23]:
df_raw = df.copy() # to be kept unedited
df_work = df.copy() #to be worked on

In [24]:
df_work.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523163 entries, 0 to 523162
Columns: 104 entries, FI_per_rv to No_qtr_per_rv
dtypes: int64(48), object(56)
memory usage: 415.1+ MB

In [25]:
df_work = df_work.drop(columns = [
    'b1q2_per_rv',
    'quarter_per_rv',
    'b1q4_per_rv',
    'b1q5_per_rv',
    'b1q6_per_rv',
    'b1q11_per_rv',
    'b1q12_per_rv',
    'fsu_per_rv',
    'b1q13_per_rv',
    'b1q14_per_rv',
    'b4q4_per_rv',
    'b4q10_per_rv',
    'b4q11_per_rv',
    'b6q4_3pt1_Act1_per_rv',
    'b6q5_3pt1_per_rv',
    'b6q6_Act1_3pt1_per_rv',
    'b6q9_3pt1_Act1_per_rv',
    'b6q4_3pt1_Act2_per_rv',
    'b6q5_3pt1_Act2_per_rv',
    'b6q6_3pt1_Act2_per_rv',
    'b6q9_3pt1_Act2_per_rv',
    'b6q7_3pt1_per_rv',
    'b6q8_3pt1_per_rv',
    'b6q4_3pt2_Act1_per_rv',
    'b6q5_3pt2_Act1_per_rv',
    'b6q6_3pt2_Act1_per_rv',
    'b6q9_3pt2_Act1_per_rv',
    'b6q4_3pt2_Act2_per_rv',
    'b6q5_3pt2_Act2_per_rv',
    'b6q6_3pt2_Act2_per_rv',
    'b6q9_3pt2_Act2_per_rv',
    'b6q7_3pt2_per_rv',
    'b6q8_3pt2_per_rv',
    'b6q4_3pt3_Act1_per_rv',
    'b6q5_3pt3_Act1_per_rv',
    'b6q6_3pt3_Act1_per_rv',
    'b6q9_3pt3_Act1_per_rv',
    'b6q4_3pt3_Act2_per_rv',
    'b6q5_3pt3_Act2_per_rv',
    'b6q6_3pt3_Act2_per_rv',
    'b6q9_3pt3_Act2_per_rv',
    'b6q7_3pt3_per_rv',
    'b6q8_3pt3_per_rv',
    'b6q4_3pt4_Act1_per_rv',
    'b6q5_3pt4_Act1_per_rv',
    'b6q6_3pt4_Act1_per_rv',
    'b6q9_3pt4_per_rv',
    'b6q4_3pt4_Act2_per_rv',
    'b6q5_3pt4_Act2_per_rv',
    'b6q6_3pt4_Act2_per_rv',
    'b6q9_3pt4_Act2_per_rv',
    'b6q7_3pt4_per_rv',
    'b6q8_3pt4_per_rv',
    'b6q4_3pt5_Act1_per_rv',
    'b6q5_3pt5_Act1_per_rv',
    'b6q6_3pt5_Act1_per_rv',
    'b6q9_3pt5_Act1_per_rv',
    'b6q4_3pt5_Act2_per_rv',
    'b6q5_3pt5_Act2_per_rv',
    'b6q6_3pt5_Act2_per_rv',
    'b6q9_3pt5_Act2_per_rv',
    'b6q7_3pt5_per_rv',
    'b6q8_3pt5_per_rv',
    'b6q4_3pt6_Act1_per_rv',
    'b6q5_3pt6_Act1_per_rv',
    'b6q6_3pt6_Act1_per_rv',
    'b6q9_3pt6_per_rv',
    'b6q4_3pt6_Act2_per_rv',
    'b6q5_3pt6_Act2_per_rv',
    'b6q6_3pt6_Act2_per_rv',
    'b6q9_3pt6_Act2_per_rv',
    'b6q7_3pt6_Act1_per_rv',
    'b6q8_3pt6_per_rv',
    'b6q4_3pt7_Act1_per_rv',
    'b6q5_3pt7_Act1_per_rv',
    'b6q6_3pt7_Act1_per_rv',
    'b6q9_3pt7_Act1_per_rv',
    'b6q4_3pt7_Act2_per_rv',
    'b6q5_3pt7_Act2_per_rv',
    'b6q6_3pt7_Act2_per_rv',
    'b6q9_3pt7_Act2_per_rv',
    'b6q7_3pt7_per_rv',
    'b6q8_3pt7_per_rv',
    'NSS_per_rv',
    'NSC_per_rv',
    'No_qtr_per_rv'  
])
df_work.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523163 entries, 0 to 523162
Data columns (total 18 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   FI_per_rv        523163 non-null  object
 1   visit_per_rv     523163 non-null  object
 2   b1q3_per_rv      523163 non-null  object
 3   state_per_rv     523163 non-null  object
 4   district_per_rv  523163 non-null  object
 5   b1q15_per_rv     523163 non-null  object
 6   b4q1_per_rv      523163 non-null  object
 7   b4q5_per_rv      523163 non-null  object
 8   b4q6_per_rv      523163 non-null  object
 9   b4q7_per_rv      523163 non-null  object
 10  b4q8_per_rv      523163 non-null  object
 11  b4q9_per_rv      523163 non-null  object
 12  b6q5_per_rv      523163 non-null  object
 13  b6q6_per_rv      523163 non-null  object
 14  b6q7_per_rv      523163 non-null  object
 15  b6q9_per_rv      523163 non-null  int64
 16  b6q10_per_rv     523163 non-null  int64
 17  MULT_per_rv      523163 non-null  int64
dtypes: int64(3), object(15)
memory usage: 71.8+ MB

In [26]:
df_work.rename(columns = {
    "FI_per_rv" : "File Identification",
    "visit_per_rv" : "Visit",
    "b1q3_per_rv" : "Sector",
    "state_per_rv" : "State/UT Code",
    "district_per_rv" : "District Code",
    "b1q15_per_rv" : "Sample Household Number",
    "b4q1_per_rv" : "Person Serial No.",
    "b4q5_per_rv" : "Sex",
    "b4q6_per_rv" : "Age",
    "b4q7_per_rv" : "Marital Status",
    "b4q8_per_rv" : "General Edu Level",
    "b4q9_per_rv" : "Technical Edu Level",
    "b6q5_per_rv" : "Current Weekly Status",
    "b6q6_per_rv" : "Industry Code (CWS)",
    "b6q7_per_rv" : "Occupation Code (CWS)",
    "b6q9_per_rv" : "Earnings For Reg Salarid/Wage Act",
    "MULT_per_rv" :	"Sub-sample wise Multiplier"

}, inplace = True)

In [27]:
print(df_work.columns.tolist())

['File Identification', 'Visit', 'Sector', 'State/UT Code', 'District Code', 'Sample Household Number', 'Person Serial No.', 'Sex', 'Age', 'Marital Status', 'General Edu Level', 'Technical Edu Level', 'Current Weekly Status', 'Industry Code (CWS)', 'Occupation Code (CWS)', 'Earnings For Reg Salarid/Wage Act', 'b6q10_per_rv', 'Sub-sample wise Multiplier']

In [28]:
df_work.to_csv("PLFS_2019_20_cleaned.csv", index=False)

In [29]:
df_work["Age"].dtype

dtype('O')

In [30]:
df_work["Age"] = pd.to_numeric(df_work["Age"], errors="coerce")

In [31]:
df_work["Age"].dtype

dtype('int64')

In [32]:
df_work_age = df_work[(df_work["Age"] >= 15) & (df_work["Age"] <= 59)]
df_work_f_age = df_work_age[(df_work_age["Sex"] == '2')]
df_work_f_age.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 175606 entries, 0 to 523160
Data columns (total 18 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   File Identification                175606 non-null  object
 1   Visit                              175606 non-null  object
 2   Sector                             175606 non-null  object
 3   State/UT Code                      175606 non-null  object
 4   District Code                      175606 non-null  object
 5   Sample Household Number            175606 non-null  object
 6   Person Serial No.                  175606 non-null  object
 7   Sex                                175606 non-null  object
 8   Age                                175606 non-null  int64
 9   Marital Status                     175606 non-null  object
 10  General Edu Level                  175606 non-null  object
 11  Technical Edu Level                175606 non-null  object
 12  Current Weekly Status              175606 non-null  object
 13  Industry Code (CWS)                175606 non-null  object
 14  Occupation Code (CWS)              175606 non-null  object
 15  Earnings For Reg Salarid/Wage Act  175606 non-null  int64
 16  b6q10_per_rv                       175606 non-null  int64
 17  Sub-sample wise Multiplier         175606 non-null  int64
dtypes: int64(4), object(14)
memory usage: 25.5+ MB

In [33]:
print(df_work_f_age["Sex"].unique())
print(df_work_f_age["Age"].min(), df_work_f_age["Age"].max())
print(df_work_f_age.shape)

['2']
15 59
(175606, 18)

In [34]:
df_work_f_age[["Age", "Current Weekly Status", "Sub-sample wise Multiplier"]].isna().sum()

Age                           0
Current Weekly Status         0
Sub-sample wise Multiplier    0
dtype: int64

In [35]:
df_work_f_age["Sub-sample wise Multiplier"].dtype

dtype('int64')

In [36]:
df_work_f_age = df_work_f_age.copy()
df_work_f_age['Year'] = '2019-20'

In [37]:
df_work_f_age.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 175606 entries, 0 to 523160
Data columns (total 19 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   File Identification                175606 non-null  object
 1   Visit                              175606 non-null  object
 2   Sector                             175606 non-null  object
 3   State/UT Code                      175606 non-null  object
 4   District Code                      175606 non-null  object
 5   Sample Household Number            175606 non-null  object
 6   Person Serial No.                  175606 non-null  object
 7   Sex                                175606 non-null  object
 8   Age                                175606 non-null  int64
 9   Marital Status                     175606 non-null  object
 10  General Edu Level                  175606 non-null  object
 11  Technical Edu Level                175606 non-null  object
 12  Current Weekly Status              175606 non-null  object
 13  Industry Code (CWS)                175606 non-null  object
 14  Occupation Code (CWS)              175606 non-null  object
 15  Earnings For Reg Salarid/Wage Act  175606 non-null  int64
 16  b6q10_per_rv                       175606 non-null  int64
 17  Sub-sample wise Multiplier         175606 non-null  int64
 18  Year                               175606 non-null  object
dtypes: int64(4), object(15)
memory usage: 26.8+ MB

In [38]:
df_work_f_age["State/UT Code"] = pd.to_numeric(df_work_f_age["State/UT Code"], errors="coerce")

# Now merge Dadra & Nagar Haveli → Daman & Diu
df_work_f_age["State/UT Code"] = df_work_f_age["State/UT Code"].replace({26: 25})
print(df_work_f_age["State/UT Code"].nunique())  # should be 34 for every year
print(sorted(df_work_f_age["State/UT Code"].unique()))

34
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 32, 33, 34, 35, 36]

In [41]:
df_work_f_age.to_csv('PLFS_2019_20_females_15to59_ready.csv', index=False)